@import "tailwindcss";
@plugin "daisyui";

/* ---------- Light Theme ---------- */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: teal;
  --color-secondary: #F59E0B;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-content: #111827;
}

/* ---------- Dark Theme ---------- */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: teal;
  --color-secondary: #F59E0B;

  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-content: #e5e7eb;
}
